header {
    text-align: center;
    padding: 10px;
}
/*#container {
    position: relative;
    left: 200px;
}*/
figcaption {
    font-size: smaller;
}
@media only screen and (max-width: 400px) {
    /*#container {
        left: 0px;
    }*/
    iframe {
        width: 100vw;
        height: 40vh;
    }
}